# 8. Tuples

Here is the table of contents for this notebook:

- 8.1 Tuples are immutable
- 8.2 Comparing tuples
- 8.3 Tuple assignments
- 8.4 Dictionaries and tuples
- 8.5 Multiple assignment with dictionaries
- 8.6 Using tuples as keys in dictionaries
- 8.7 Strings, Lists, Dictionaries, and Tuples - 😱
- 8.8 Sets
- 8.9 Exercises

## 8.1 Tuples are immutable

A tuple is a sequence of values much like a list. The values stored in a tuple can be any type, and they are indexed by integers. The important difference is that tuples are _immutable_. Tuples are also _comparable_ and _hashable_ so we can sort lists of them and use tuples as key values in Python dictionaries.

Syntactically, a tuple is a comma-separated list of values:

In [1]:
t = 'a', 'b', 'c', 'd', 'e'

In [2]:
type(t)

tuple

Although it is not necessary, it is common to enclose tuples in parentheses to help us quickly identify tuples when we look at Python code:

In [3]:
t = ('a', 'b', 'c', 'd', 'e')
type(t)

tuple

To create a tuple with a single element, you have to include the final comma:

In [4]:
t = ('a',)
type(t)

tuple

Without the comma Python treats `('a')` as an expression with a string in parentheses that evaluates to a string:

In [5]:
t = ('a')
type(t)

str

Another way to construct a `tuple` is the built-in function tuple. With no argument, it creates an empty tuple:

In [6]:
t = tuple()
print(t)

()

If the argument is a sequence (string, list, or tuple), the result of the call to tuple is a tuple with the elements of the sequence:

In [7]:
t = tuple('lupins')
print(t)

('l', 'u', 'p', 'i', 'n', 's')

In [8]:
t = tuple([0, 1, 2])
print(t)

(0, 1, 2)

Because `tuple` is the name of a constructor, you should avoid using it as a variable name.

Most list operators also work on tuples. The bracket operator indexes an element:

In [10]:
t = ('a', 'b', 'c', 'd', 'e')
print(t[0])

a

And the slice operator selects a range of elements.

In [11]:
print(t[1:3])

('b', 'c')

But if you try to modify one of the elements of the tuple, you get an error:

In [12]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

You can’t modify the elements of a tuple, but you can replace one tuple with another:

In [14]:
t = ('A',) + t[1:]
print(t)

('A', 'b', 'c', 'd', 'e')

**Exercise 8.1**

You are given a list of tuples, each representing a student's name and their corresponding test scores from a course. Students can have multiple tests in a single course. Each tuple contains two elements: the student's name (a string) and the test score (an integer). Your task is to write a function called `total_scores` that takes this list of tuples as input and returns the total score for each student as a dictionary.

Input:
[("Alice", 85), ("Bob", 72), ("Alice", 90), ("Bob", 68), ("Charlie", 95)]

Output:
{"Alice": 175, "Bob": 140, "Charlie": 95}

In [17]:
scores_list = [("Alice", 85), ("Bob", 72), ("Alice", 90), ("Bob", 68), ("Charlie", 95)]
def total_scores(scores_list):
    scores_dict = {}
    for name, score in scores_list:
        if name in scores_dict:
            scores_dict[name] += score
        else:
            scores_dict[name] = score
    return scores_dict
        
total_scores(scores_list)

{'Alice': 175, 'Bob': 140, 'Charlie': 95}

In [18]:
def total_scores(scores_list):
    # YOUR CODE HERE
    pass

## 8.2 Comparing tuples

The comparison operators work with tuples and other sequences. Python starts by comparing the first element from each sequence. If they are equal, it goes on to the next element, and so on, until it finds elements that differ. Subsequent elements are not considered (even if they are really big).

In [19]:
(0, 1, 2) < (0, 3, 4)

True

In [20]:
(0, 1, 2000000) < (0, 3, 4)

True

The `sort` function works the same way. It sorts primarily by first element, but in the case of a tie, it sorts by second element, and so on.

This feature lends itself to a pattern called _DSU_ for

**Decorate**

a sequence by building a list of tuples with one or more sort keys preceding the elements from the sequence,

**Sort**

the list of tuples using the Python built-in sort, and

**Undecorate**

by extracting the sorted elements of the sequence.

For example, suppose you have a list of words and you want to sort them from longest to shortest:

In [21]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()

# Creating a list of tuples
# First element will be word length
t = []
for word in words:
    t.append((len(word), word))

print(t)

[(3, 'but'), (4, 'soft'), (4, 'what'), (5, 'light'), (2, 'in'), (6, 'yonder'), (6, 'window'), (6, 'breaks')]

In [22]:
t.sort(reverse=True)
print(t)

[(6, 'yonder'), (6, 'window'), (6, 'breaks'), (5, 'light'), (4, 'what'), (4, 'soft'), (3, 'but'), (2, 'in')]

In [24]:
# Now the words are sorted
# We don't need the word lengths
res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

The first loop builds a list of tuples, where each tuple is a word preceded by its length.

`sort` compares the first element, length, first, and only considers the second element to break ties. The keyword argument `reverse=True` tells `sort` to go in decreasing order.

The second loop traverses the list of tuples and builds a list of words in descending order of length. The four-character words are sorted in _reverse_ alphabetical order, so “what” appears before “soft” in the following list.

## 8.3 Tuple assignment

One of the unique syntactic features of the Python language is the ability to have a tuple on the left side and a sequence on the right side of an assignment statement. This allows you to assign more than one variable at a time to the given sequence.

In this example we have a two-element list (which is a sequence) and assign the first and second elements of the sequence to the variables `x` and `y` in a single statement.

In [27]:
m = [ 'have', 'fun' ]
x, y = m

In [28]:
print(x)
print(y)

have
fun

As if you are doing:

In [29]:
m = [ 'have', 'fun' ]
x = m[0]
y = m[1]
print(x)
print(y)

have
fun

Stylistically when we use a tuple on the left side of the assignment statement, we omit the parentheses, but the following is an equally valid syntax:

In [30]:
m = [ 'have', 'fun' ]
(x, y) = m
print(x)
print(y)

have
fun

A particularly clever application of tuple assignment allows us to swap the values of two variables in a single statement:

In [31]:
a = 5
b = 3
a, b = b, a
print(f'a is {a}')
print(f'b is {b}')

a is 3
b is 5

Both sides of this statement are tuples, but the left side is a tuple of variables; the right side is a tuple of expressions. Each value on the right side is assigned to its respective variable on the left side. All the expressions on the right side are evaluated before any of the assignments.

The number of variables on the left and the number of values on the right must be the same:

In [32]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

More generally, the right side can be any kind of sequence (string, list, or tuple). For example, to split an email address into a user name and a domain, you could write:

In [33]:
address = 'monty@python.org'
local_part, domain = address.split('@')

The return value from `split` is a list with two elements; the first element is assigned to `local_part`, the second to `domain`.

In [34]:
print(local_part)
print(domain)

monty
python.org

**Exercise 8.2**

A rectangle can be defined by four numbers, coordinates of a corner x and y, together with is width and height. You given these numbers as a tuple (x, y, w, h). Use tuple assignment to extract width and height of the rectangle and calculate its area.

In [37]:
rectangle = (0, 0, 10, 50)
x, y, width, height = rectangle
print(f'The area is {width * height}')

The area is 500

## 8.4 Dictionaries and tuples

Dictionaries have a method called `items` that returns a list of tuples*, where each tuple is a key-value pair:

In [39]:
d = {'b':1, 'a':10, 'c':22}
t = list(d.items())
t

[('b', 1), ('a', 10), ('c', 22)]

As you should expect from a dictionary, the items are in non-alphabetical order.

However, since the list of tuples is a list, and tuples are comparable, we can now sort the list of tuples. Converting a dictionary to a list of tuples is a way for us to output the contents of a dictionary sorted by key:

In [40]:
d = {'b':1, 'a':10, 'c':22}
t = list(d.items())
t

[('b', 1), ('a', 10), ('c', 22)]

In [41]:
t.sort()
t

[('a', 10), ('b', 1), ('c', 22)]

The new list is sorted in ascending alphabetical order by the key value.

### 🐍 *Advanced 🐍

Notice that `d.items()` actually returns _dictionary view objects_, not a list. We use `list(d.items())` to get a list. Dictionary view objects are out of scope for this block, but if you would like to learn more, take a look at the documentation:

https://docs.python.org/3/library/stdtypes.html#dict-views

## 8.5 Multiple assignment with dictionaries

Combining `items`, tuple assignment, and `for`, you can see a nice code pattern for traversing the keys and values of a dictionary in a single loop:

In [43]:
d = {'a':10, 'b':1, 'c':22}
for key, val in d.items(): # list is not needed
    print(key, val)

a 10
b 1
c 22

This loop has two _iteration variables_ `key`, `val` (tuple assignment) that successively iterates through each of the key-value pairs in the dictionary. For each iteration through the loop, both `key` and `value` are advanced to the next key-value pair in the dictionary.

Using this, we can sort key - value pairs by value:

In [45]:
d = {'a':10, 'b':1, 'c':22}
t = []
for key, val in d.items() :
    t.append((val, key)) # note the order is v, k not k, v
t.sort(reverse=True)
print(t)

[(22, 'c'), (10, 'a'), (1, 'b')]

By carefully constructing the list of tuples to have the value as the first element of each tuple, we can sort the list of tuples and get our dictionary contents sorted by value.

## 8.6 Using tuples as keys in dictionaries

Because tuples are _hashable_ and lists are not, if we want to create a _composite_ key to use in a dictionary we must use a tuple as the key.

We would encounter a composite key if we wanted to create a telephone directory that maps from last-name, first-name pairs to telephone numbers. Assuming that we have defined the variables `last`, `first`, and `number`, we could write a dictionary assignment statement as follows:

In [48]:
directory = {}
directory['Doe', 'Jane'] = '0686944967'
directory['Doe', 'John'] = '0612483242'

In [49]:
directory

{('Doe', 'Jane'): '0686944967', ('Doe', 'John'): '0612483242'}

The expression in brackets is a `tuple`. We could use tuple assignment in a `for` loop to traverse this dictionary.

In [50]:
for last, first in directory:
    print(first, last, directory[last,first])

Jane Doe 0686944967
John Doe 0612483242

This loop traverses the keys in `directory`, which are tuples. It assigns the elements of each tuple to `last` and `first`, then prints the name and corresponding telephone number.

## 8.7 Strings, Lists, Dictionaries, and Tuples - 😱

**Exercise**

Now that you have seen all, you should be able to compare and contrast these data structures. Answer the following:

- Briefly define each data structure.

- Which data structures are mutable?

- Which data structures are immutable?

- What type of data each can hold?

- What is the difference between lists and tuples? Why should you care about tuples, can't you just use lists for everything?

- What is the advantage of dictionaries over lists? For example, I can create a list of tuples where each tuple is a key-value pair, would this be the same as a dictionary?

## 8.8 Sets

There is one more data structure we would like to cover, called _sets_. A set is an unordered collection with no duplicate elements. It is not as fundamental as the other data structures we have covered, but still useful for certain tasks.

In [51]:
this_is_a_set = {1, 2, 3}
type(this_is_a_set)

set

The fact that a set has no duplicate elements can be used to find the unique elements in a sequence. Let's say we have a list and we would like to find all the unique elements in the list.

In [52]:
some_list = [1, 5, 4, 5, 10, 2, 4]

we can do it with some loop patterns, but it is much easier if we use convert the list to a set:

In [53]:
set(some_list)

{1, 2, 4, 5, 10}

Sets also support mathematical operations like union, intersection, difference, and symmetric difference:

In [54]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')

In [55]:
a # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [56]:
a - b # letters in a but not in b

{'b', 'd', 'r'}

In [57]:
a | b # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [58]:
a & b # letters in both a and b

{'a', 'c'}

In [59]:
a ^ b # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

**Exercise 8.3**

Write a function called `num_students` that returns the number of students in a `score_list` described in Exercise 8.1.

Example input/output:

[("Alice", 85), ("Bob", 72), ("Alice", 90), ("Bob", 68), ("Charlie", 95)] -> 3

In [66]:
scores_list = [("Alice", 85), ("Bob", 72), ("Alice", 90), ("Bob", 68), ("Charlie", 95)]

In [68]:
scores_list = [("Alice", 85), ("Bob", 72), ("Alice", 90), ("Bob", 68), ("Charlie", 95)]

def num_students(scores_list):
    num_dict = {}
    for name, score in scores_list:
        if name not in num_dict:
            num_dict[name] = 1
        else:
            num_dict[name] += 1
    return len(num_dict)

num_students(scores_list)

3

**Exercise 8.4**

Now consider you have `scores_list` from different courses. Write a function called `common_students` to find the students who take both courses.

In [72]:
scores_list_course1 = [("Alice", 90), ("Bob", 68), ("Alice", 85), ("Bob", 72), ("Charlie", 95)]
scores_list_course2= [("Alice", 98), ("Bob", 75), ("Alice", 90), ("Bob", 80), ("Daphne", 100)]

for `scores_list_course1` and `scores_list_course2` as input, expected output is

`['Alice', 'Bob']`

In [87]:
def common_students(scores_list_course1, scores_list_course2):
    student_set1 = set(name for name, _ in scores_list_course1)
    student_set2 = set(name for name, _ in scores_list_course2)
    return list(student_set1.intersection(student_set2))
    
common_students(scores_list_course1, scores_list_course2)

['Alice', 'Bob']

## 8.9 Exercises

**Exercise 8.5**

Write a function called `letter_freq` that accepts a string as input and prints the letters in decreasing order of frequency.

- The string can contain one ore more sentences.
- Your program should convert all the input to lower case and only count the letters a-z.
- Your program should not count spaces, commas and dots.

Compare your results with the tables at https://wikipedia.org/wiki/Letter_frequencies.

Some example input/output pairs:

'The sun sets, painting the sky with hues of orange and pink. Stars twinkle, casting their ethereal glow upon the world.'

```python
t, 11.58%
e, 11.58%
n, 9.47%
s, 8.42%
i, 7.37%
h, 7.37%
a, 6.32%
r, 5.26%
o, 5.26%
w, 4.21%
l, 4.21%
g, 4.21%
u, 3.16%
p, 3.16%
k, 3.16%
d, 2.11%
y, 1.05%
f, 1.05%
c, 1.05%
```

'uncopyrightables'

```python
y, 6.25%
u, 6.25%
t, 6.25%
s, 6.25%
r, 6.25%
p, 6.25%
o, 6.25%
n, 6.25%
l, 6.25%
i, 6.25%
h, 6.25%
g, 6.25%
e, 6.25%
c, 6.25%
b, 6.25%
a, 6.25%
```

In [89]:
test_case_1 = 'The sun sets, painting the sky with hues of orange and pink. Stars twinkle, casting their ethereal glow upon the world.'
test_case_2 = 'uncopyrightables'

In [96]:
def letter_frequency(text):
    letter_count = {}
    for char in text.lower():
        if char.isalpha():
            letter_count[char] = letter_count.get(char, 0) + 1
        sorted_letters = sorted(letter_count.items(), key=lambda x: x[1], reverse=True) 
    formatted_letters = [(letter, round(freq, 2)) for letter, freq in sorted_letters]
    return formatted_letters
    
    
letter_frequency(test_case_1)

[('t', 11),
 ('e', 11),
 ('n', 9),
 ('s', 8),
 ('h', 7),
 ('i', 7),
 ('a', 6),
 ('o', 5),
 ('r', 5),
 ('g', 4),
 ('w', 4),
 ('l', 4),
 ('u', 3),
 ('p', 3),
 ('k', 3),
 ('d', 2),
 ('y', 1),
 ('f', 1),
 ('c', 1)]